html, body {
  background-color: #ECC;
}

#content {
  -webkit-perspective: 1200;
  width: 100%;
  overflow: hidden;
}

#content a:hover {
  background: transparent;
}

#posters {
  width: 620px;
  height: 960px;
  position: relative;
  margin: 60px auto;
  font-weight: 900;
  font-size: 62px;
  text-transform: uppercase;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translateZ(-200px)
}

.csstransforms3d #posters.reset {
  -webkit-transition: -webkit-transform .5s;
}

.csstransforms3d #posters:hover {
  cursor: move;
}


#posters > div {
  position: absolute;
  left: -200px;
  top: 0;
  -webkit-transform-style: preserve-3d;
}


#posters span {
  display: block;
  line-height: 0.9em;
  position: relative;
  white-space: nowrap;
}

#posters span:nth-of-type(1)  { left: 8.8em; }
#posters span:nth-of-type(2)  { left: 7.9em; }
#posters span:nth-of-type(3)  { left: 7em; }
#posters span:nth-of-type(4)  { left: 6.1em; }
#posters span:nth-of-type(5)  { left: 5.2em; }
#posters span:nth-of-type(6)  { left: 4.3em; }
#posters span:nth-of-type(7)  { left: 3.4em; }
#posters span:nth-of-type(8)  { left: 2.4em; }
#posters span:nth-of-type(9)  { left: 1.5em; }
#posters span:nth-of-type(10) { left: 0.6em; }
#posters span:nth-of-type(11) { left: 0.0em; }
#posters span:nth-of-type(12) { left: 1.0em; }
#posters span:nth-of-type(13) { left: 2.0em; }
#posters span:nth-of-type(14) { left: 3.0em; }
#posters span:nth-of-type(15) { left: 3.9em; }
#posters span:nth-of-type(16) { left: 4.8em; }
#posters span:nth-of-type(17) { left: 5.8em; }


#posters .rotor-z {
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}


#behold {
  color: #FFF;
  -webkit-transform: translate3d( 0, 0, 200px);
}

#shadow {
  color: hsla(0,0%,0%,0);
  text-shadow: 0 5px 10px hsla(0,0%,0%,.2);
  -webkit-transform: translate3d( 0, 0, -200px);
}
#shadow a { color: transparent; }

.csstransforms3d #shadow    { text-shadow: 0 0px 30px hsla(0,0%,0%,.15); }
