#content h1 { border-bottom: 9px solid #FC3 !important; }

#content .col6 a:link, 
#content .col6 a:visited { color: #963; }
#content .col6 a:hover { color: #000; }

#comments { background-color: #864; }

a.spch-bub-outside { color: #963; }
.spch-bub-outside .bubble { background: #963; }
.spch-bub-outside .point { border-left-color: #963 }

#content a.button:link, #content a.button:visited, #content a.button:hover { color: #FFF; }