#alert {
  width: 100%;
  color: #FFF;
  font-weight: bold;
  margin: 0px auto;
  background: #000;
  background: rgba(0,0,0,.6);
  padding: 10px 20px;
  position: fixed;
  z-index: 1000;
}

#alert a { color: #FF0; text-decoration: none;  }
#alert a:hover { color: #0FF; }

#punwrap { padding-top: 40px; }