    <section id="site-footer" class="vcard tk_proxima_nova">
        <div class="wrap12">
            if @short_url do
                <div class="short-url col12">
                    &sect;
                    <details>
                        <summary><label for="short-url2">Short URL for this page</label></summary>
                        <input type="text" id="short-url2" value="http://d&sect;.cc/@short_url" />
                    </details>
                </div>
            endif
            
            <div class="made-this col4">
                <a href="@root_path" class="url uid" rel="me">
                    <strong class="fn">
                        <span class="given-name">David</span>
                        <span class="family-name">DeSandro</span>
                    </strong>
                    <span class="made">made</span> 
                    <span class="this">this.</span>
                </a>
                <p class="copyright">&copy; 2009 &ndash; @current_year</p>                
            </div>

            <p class="where-what col4">
              <span class="being">Being creative</span>
              <span class="making">and making stuff</span>
              <span class="happy">keeps him happy,</span>
              <span class="designer">as a web designer,</span>
              <span class="living">
                living in 
                <span class="adr">
                  <span class="locality">Arlington</span>, 
                  <span class="region" title="Virginia">VA</span>,
                </span>
              </span>
              <span class="working vcard">
                working at <a href="http://nclud.com" class="fn org url">nclud</a> in 
                <span class="adr">
                  <span class="locality">Washington</span>, 
                  <span class="region" title="District of Columbia">DC</span>.
                </span>
              </span>
            </p>
            <div class="also-made col4">
                <h3>Dave also made</h3>
                <ul>
                    <li><a href="@root_path/resources/jquery-masonry/">jQuery Masonry</a></li>
                    <li><a href="@root_path/demo/of-windex/">Windex</a></li>
                    <li><a href="@root_path/resources/close-pixelate/">Close Pixelate</a></li>
                </ul>
            </div>
        </div>
    </section> <!-- #site-footer -->


  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
  <script src="@root_path/_base/js/application.js"></script>
  
  if $js do
    foreach $js do
      <script src="@url"></script>
    endforeach
  endif
  
  if @scripts do
    @scripts
  endif
    
