<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8" />
  <title>if @title do @title &middot; endif David DeSandro</title>
  <link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/desandro" />
  <link rel="stylesheet" href="@root_path_base/css/desandro.css" media="screen" />
  <!--[if lte IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

  <script src="http://use.typekit.com/bqa1ehi.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script src="@root_path/_base/js/application.js"></script>
  <script src="/mint/?js"></script>

