<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8" />
  <title>if @title do @title &middot; endif David DeSandro</title>
  
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/desandro" />
  <link rel="stylesheet" href="@root_path_base/css/desandro.css" media="screen" />
  
  if $css do
    foreach $css do
      <link rel="stylesheet" href="@url" media="screen" />
    endforeach
  endif

  <script src="@root_path/_base/js/modernizr.js"></script>
  <script src="http://use.typekit.com/bqa1ehi.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <script src="/haveamint/?js"></script>
  

