body.articles {
  background: white;
}

#content {
  font-family: 'Lora', Cambria, Georgia, serif;
}

#content h1 {
  font-size: 50px;
  text-align: center;
}

.csstransforms #content h1 {
  font-size: 90px;
  position: relative;
  height: 2.0em;
  margin-left: 0.15em;
}

#content h1 b,
#content h1 i {
  font-style: normal;
  font-weight: normal;
  letter-spacing: -0.02em;
}

.csstransforms #content h1 b {
  display: inline-block;
  padding: 0 0.5em;
  line-height: 1.0em;
  background: hsla( 0, 0%, 0%, 0.0);
  overflow: hidden;
  position: absolute;
}

.csstransforms #content h1 b.mason {
  left: -40px;
  -webkit-transform: rotate(-4deg);
     -moz-transform: rotate(-4deg);
      -ms-transform: rotate(-4deg);
       -o-transform: rotate(-4deg);
          transform: rotate(-4deg);
}

.csstransforms #content h1 b.mason i {
  display: inline-block;
  -webkit-transform-origin: left top;
     -moz-transform-origin: left top;
      -ms-transform-origin: left top;
       -o-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: translateY(0.1em) rotate(4deg);
     -moz-transform: translateY(0.1em) rotate(4deg);
      -ms-transform: translateY(0.1em) rotate(4deg);
       -o-transform: translateY(0.1em) rotate(4deg);
          transform: translateY(0.1em) rotate(4deg);
}

#content h1 b.ident { color: #D80; }

.csstransforms #content h1 b.ident {
  left: 0.5em;
  top: 0.98em;
  padding-bottom: 0.5em;
  -webkit-transform: rotate(-4deg);
     -moz-transform: rotate(-4deg);
      -ms-transform: rotate(-4deg);
       -o-transform: rotate(-4deg);
          transform: rotate(-4deg);
}

.csstransforms #content h1 b.ident i {
   display: inline-block;
  -webkit-transform-origin: right top;
     -moz-transform-origin: right top;
      -ms-transform-origin: right top;
       -o-transform-origin: right top;
          transform-origin: right top;
  -webkit-transform: translateY(-0.10em) rotate(4deg);
     -moz-transform: translateY(-0.10em) rotate(4deg);
      -ms-transform: translateY(-0.10em) rotate(4deg);
       -o-transform: translateY(-0.10em) rotate(4deg);
          transform: translateY(-0.10em) rotate(4deg);
}

.csstransforms #content h1 span {
  display: inline-block;
  text-indent: -999em;
}

#copy {
  width: 540px;
  margin: 60px auto 160px;;
  font-size: 14px;
  line-height: 1.7em;
}

#copy p {
  margin-bottom: 1.5em;
}

#copy a {
  font-style: italic;
  font-weight: bold;
  color: #238
}

#copy a:hover {
  background: none;
  color: #D80;
  border-bottom: 1px dotted;
}

#copy hr {
  border: none;
  border-bottom: 1px solid #DDD;
  margin: 3.0em;
}
