html, body { background: #545649  url(about_head01.jpg) center 80px no-repeat; }

body {
    color: #FFF;
}

/**************************
**  Site Header
**************************/


#site-header #branding {
    background: #FFF;
    color: #222;
}

#site-header #branding p a {
    color: #222;
}

#site-header ol a {
    color: #FFF;
}
body.about #site-header ol .about a { 
    color: #222; 
}

.rss a { background: #FFF; border-color: #FFF; }
.rss a .dot { background: #222; }
.rss a .ring { border-color: #222; }


/**** Santa ****/

/*#site-header #branding {
    background: #D00;
}

#site-header ol a {
    color: #D00;
}
body.about #site-header ol .about a { 
    color: #FFF; 
}

.rss a { background: #D00; border-color: #D00; }

#about {
  color: #D00;
}

*/


/**************************
**  About content
**************************/

#about {
    height: 520px;
    
}

#about .photo-credit { margin-top: 3.0em;}

#about p { 
    margin-bottom: 0;
    font-weight: 200;
    line-height: 1.2em;
}

h1 {
}

#about .col6 { background: hsla(0,0%,100%,.0); }

#about .name { font-size: 64px; line-height: 1.0em; }
#about .title { font-size: 42px; line-height: 1.0em; }
#about .resides { font-size: 37.5px;}
#about .born { font-size: 30px;}
#about .graduated { font-size: 24.2px;}
#about .certified { font-size: 28px;}
#about .employed { font-size: 56px; line-height: 1.0em;}
#about .loves { font-size: 51px; line-height: 1.0em;}
#about .currently { font-size: 25px;}
#about .likes { font-size: 19.5px;}

#about .blurb {
    font-size: 30px;
    width: 95%;
}

/**************************
**  Contact
**************************/

#contact {
    background: #8BD;
    padding: 20px 0;
}

#contact .contact-note {
  font-size: 16px;
}

#contact a {
  color: #46E;
}

/**************************
**  Socialize
**************************/

#socialize {
    position: relative;
}
.csstransforms #socialize {
  margin-top: 80px;
  height: 400px;
}

#socialize h2 {
    text-align: center;
    font-style: italic;
    font-size: 32px;
    line-height: 1.8em;
}
.csstransforms #socialize h2 {
    line-height: 1.0em;
    position: absolute;
    width: 160px;
    top: 120px;
    left: 150px;
}

.csstransforms #socialize ul {
    position: relative;
    left: 230px;
    top: 145px;
    width: 20px;
    height: 20px;
    overflow: visible;
}

#socialize li {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.0em;
    text-align: center;
}
.csstransforms #socialize li {
    text-align: right;
    padding-left: 80px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform-origin: 0px 0.45em;
       -moz-transform-origin: 0px 0.45em;
         -o-transform-origin: 0px 0.45em;
}


#socialize li a { 
    color: #46E; 
    -webkit-transition: all 0.2s ease-out;
       -moz-transition: all 0.2s ease-out;
         -o-transition: all 0.2s ease-out;
    display: block;
}
.csstransforms #socialize li a {
    text-align: right;
    padding-left: 80px;
    position: absolute;
    top: 0;
    left: 0;
}
#socialize li a:hover { 
    color: #FFF; 
    background: none;
    -webkit-transform: scale(1.3);
       -moz-transform: scale(1.3);
         -o-transform: scale(1.3);
}
#socialize li a:active { color: #222; }


