    <section id="site-footer" class="vcard tk_proxima_nova">
        <div class="wrap12">

            <div class="made-this col4">
                <a href="@root_path" class="url uid" rel="me">
                    <strong class="fn">
                        <span class="given-name">David</span>
                        <span class="family-name">DeSandro</span>
                    </strong>
                    <span class="made">made</span>
                    <span class="this">this.</span>
                </a>
                <p class="copyright">&copy; 2009 &ndash; 2013</p>
            </div>

            <p class="where-what col4">
              <span class="being">Being creative</span>
              <span class="making">and making stuff</span>
              <span class="happy">keeps him happy,</span>
              <span class="designer">as a web developer,</span>
              <span class="living">
                living in
                <span class="adr">
                  <span class="locality">Arlington</span>,
                  <span class="region" title="Virginia">VA</span>,
                </span>
              </span>
              <span class="working vcard">
                working at <a href="http://nclud.com" class="fn org url">nclud</a> in
                <span class="adr">
                  <span class="locality">Washington</span>,
                  <span class="region" title="District of Columbia">DC</span>.
                </span>
              </span>
            </p>
            <div class="also-made col4">
                <h3>Dave also made</h3>
                <ul>
                    <li><a href="http://masonry.desandro.com">Masonry</a></li>
                    <li><a href="http://isotope.metafizzy.co">Isotope</a></li>
                    <li><a href="http://dropshado.ws">dropshado.ws</a></li>
                </ul>
            </div>
        </div>
    </section> <!-- #site-footer -->


  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
  <script src="/assets/js/application.js"></script>

  {% if page.js %}
    <script src="/assets/js/{{ page.js }}"></script>
  {% endif %}

  <!-- if @scripts do
    @scripts
  endif -->
