<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8" />
  <title>{% if page.title %}{{ page.title }} &middot; {% endif %}David DeSandro</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <link rel="stylesheet" href="/assets/css/desandro.css" media="screen" />

  {% if page.css %}
    <link rel="stylesheet" href="/assets/css/articles/{{ page.css}}" media="screen" />
  {% endif %}

  <script src="/assets/js/modernizr.js"></script>
  <script src="http://use.typekit.com/bqa1ehi.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <!-- <script src="/mint/?js"></script> -->
