
#content h1, #content h2, #content .deck {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

#content h1 {
  border-bottom: 1px solid #CCC !important;
  margin-bottom: 19px !important;
  font-weight: 200 !important;
}

#content h2 { font-weight: 200 !important;}


#content .col7 a {
  color: #20c !important;
}

#content .col7  a:hover {
  text-decoration: underline;
}

#content .col7 a.button {
  color: #FFF !important;
  background-color: #20C;
}
#content .col7 a.button:hover {  background-color: #55F; }
a.button:active { background-color: #333; }

#content .col12.pull2left img {border: 1px solid #CCC; }


#content .wrap12 pre.col12 {
  width: 900px;
  overflow: auto;
}



