
/***** nclusion post *****/

body.articles {
  background: #00384c url(nclusion_bg_repeat03.png) center top repeat-x;
  padding-top: 0;
}

body.articles #content .wrap12 {
  background: url(nclusion_bg_center02.png) center -20px no-repeat;
  padding-top: 40px;
  position: relative;
}

#masthead nav a.selected { z-index: 100; }

h1 {
  border: none;
  text-indent: -9999px;
  background: url(conclusion_title01.png) top center no-repeat;
  height: 80px;
}

#content {padding-bottom: 40px;}

#nclusion {
  color: #A9C9D5;
  font-family:"lucida grande","lucida sans unicode","lucida sans",arial,sans-serif;
  clear: both;
  width: 600px;
  margin: 0 auto 0;
  padding-top: 20px;
  font-size: 14px;
  line-height: 1.7;
}

#nclusion a {
  color: #FFF
}
#nclusion a:hover {
  text-decoration: underline;
  background: hsla(0,0%,100%,.1);
}


#nclusion .example {
  background: url(nclusion_p01.png) top center no-repeat;
  text-indent: -9999px;
  height: 150px;
}

#nclusion hr {
  margin: 3.0em 0;
  border: none;
  border-top: 1px solid hsla( 0, 0%, 0%, 0.3 );
  border-bottom: 1px solid hsla( 0, 0%, 100%, 0.15 );
}