body.articles {
  background-color: yellow;
  background-color: hsl(  60, 90%, 40% );
}

.csstransitions body.articles {
  -webkit-transition: background-color 1s linear;
     -moz-transition: background-color 1s linear;
       -o-transition: background-color 1s linear;
          transition: background-color 1s linear;
}

.csstransitions body.articles.color0  { background-color: hsl(   0, 90%, 40% ); }
.csstransitions body.articles.color1  { background-color: hsl(  20, 90%, 40% ); }
.csstransitions body.articles.color2  { background-color: hsl(  40, 90%, 40% ); }
.csstransitions body.articles.color3  { background-color: hsl(  60, 90%, 40% ); }
.csstransitions body.articles.color4  { background-color: hsl(  80, 90%, 40% ); }
.csstransitions body.articles.color5  { background-color: hsl( 100, 90%, 40% ); }
.csstransitions body.articles.color6  { background-color: hsl( 120, 90%, 40% ); }
.csstransitions body.articles.color7  { background-color: hsl( 140, 90%, 40% ); }
.csstransitions body.articles.color8  { background-color: hsl( 160, 90%, 40% ); }
.csstransitions body.articles.color9  { background-color: hsl( 180, 90%, 40% ); }
.csstransitions body.articles.color10 { background-color: hsl( 200, 90%, 40% ); }
.csstransitions body.articles.color11 { background-color: hsl( 220, 90%, 40% ); }
.csstransitions body.articles.color12 { background-color: hsl( 240, 90%, 40% ); }
.csstransitions body.articles.color13 { background-color: hsl( 260, 90%, 40% ); }
.csstransitions body.articles.color14 { background-color: hsl( 280, 90%, 40% ); }
.csstransitions body.articles.color15 { background-color: hsl( 300, 90%, 40% ); }
.csstransitions body.articles.color16 { background-color: hsl( 320, 90%, 40% ); }
.csstransitions body.articles.color17 { background-color: hsl( 340, 90%, 40% ); }

#content {
  padding: 60px 60px 120px;
}

/*#content > * {
-webkit-transform: rotate(-12deg);
   -moz-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
     -o-transform: rotate(-12deg);
        transform: rotate(-12deg);
}*/

#content h1 {
  text-align: center;
  font-weight: 500;
  font-style: italic;
  font-size: 30px;
  letter-spacing: 1.0em;
  margin-bottom: 40px;
}

#projects-2010 {
  text-align: center;
  
}

#projects-2010 li {
  display: inline-block;
}

#projects-2010 a {
  background: #222;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 46px;
  color: #FFF;
  padding: 0 0.2em;
  line-height: 1.2em;
  margin-bottom: 3px;
  display: inline-block;
  -webkit-transform: skewX(-12deg);
     -moz-transform: skewX(-12deg);
      -ms-transform: skewX(-12deg);
       -o-transform: skewX(-12deg);
          transform: skewX(-12deg);
}

#projects-2010 a:hover {
  background-color: white;
  color: #222;
}

#projects-2010 a i {
  display: inline-block;
  -webkit-transform: skewX(12deg);
     -moz-transform: skewX(12deg);
      -ms-transform: skewX(12deg);
       -o-transform: skewX(12deg);
          transform: skewX(12deg);
}