.body, .wufoo {
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.info, .info[class] { display: none; }

#container {
    background: transparent;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	border: none;
}

h1 { display: none; }

img#bottom { display: none !important;}

#container, html.embed { background: transparent; }

.wufoo label.desc {
    font-size: 14px;
    text-transform: uppercase;
    color: #FFF;
}

form span.req { display: none; }



.noI .leftLabel label.desc {
    width:20%;
}

.noI .leftLabel label.desc, 
.noI .rightLabel label.desc {
    width:23%;
}


.noI .leftLabel .large, 
.noI .leftLabel textarea.textarea, 
.noI .leftLabel li div.col, 
.noI .leftLabel li.complex div {
    width:71%;
}

.leftLabel li div.col, 
.rightLabel li div.col, 
.leftLabel li.complex div, 
.rightLabel li.complex div {
    min-width:71%;
    width:71%;
}


input.text, input.search, textarea.textarea {
    background: #59A;
	background: -webkit-gradient(linear, left top, left bottom, from(#478), to(#59A), color-stop(0.2, #589));
    border: none;
    margin: 1px 0;
    width: 332px;
    font-family: inherit;
    padding: 4px;
    -moz-box-shadow: inset 0 2px 5px hsla(0,0%,0%,.3);
}

.wufoo input.text, .wufoo input.file, .wufoo select.select {
    font-size: 16px;
    color: #FFF;
}

.wufoo textarea.textarea {
    font-size: 14px;
    color: #FFF;
}

.wufoo li.focused { 
    background-color: #9CE; 
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.wufoo li.focused label.desc,
.wufoo li.focused div, .wufoo li.focused span, 
.wufoo li.focused div label, .wufoo li.focused span label, 
.safari .wufoo li.focused input.file { 
	color: #222;
}


.wufoo input.submit {
    background: #CCC;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#CCC), color-stop(0.2, #F5F5F5), color-stop(0.8, #D5D5D5));
    border: 1px solid #999;
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    height: 32px;
    padding: 0 15px;
    margin-bottom: 1.0em;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-box-shadow:
        0 2px 2px hsla(0,0%,0%,.1),
        inset 0 40px 32px -16px hsla(0,0%,100%,.7),
        inset 0 -5px 5px hsla(0,0%,0%,.05),
        inset 0 5px 5px hsla(0,0%,100%,.8)
    ;
    -webkit-box-shadow: 0 2px 2px hsla(0,0%,0%,.1);
    text-shadow: 0 1px 0 hsla(0,0%,100%,.7);
}

.wufoo input.submit:hover  {
    cursor: pointer;
    background: #FE8;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EC9));
}

.wufoo input.submit:active  {
    background: #999;
    background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#CCC));
    border-color: #888;
    -moz-box-shadow:
        inset 0 2px 15px hsla(0,0%,0%,.7),
        inset 0 40px 32px -16px hsla(0,0%,100%,.7),
        inset 0 -5px 5px hsla(0,0%,0%,.05)
    ;
    -webkit-box-shadow: none;
}

.wufoo input.submit:disabled {
    cursor: default;
    opacity: 0.6;
    border-color: #BBB;
    background: #CCC;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#CCC));    
    -moz-box-shadow:
        0 2px 2px hsla(0,0%,0%,.1),
        inset 0 40px 32px -16px hsla(0,0%,100%,.7),
        inset 0 -5px 5px hsla(0,0%,0%,.05),
        inset 0 5px 5px hsla(0,0%,100%,.8)
    ; 
    -webkit-box-shadow: 0 2px 2px hsla(0,0%,0%,.1);
}


#errorLi {
	background: transparent !important;
	border: none;
	margin: 0 auto;
	padding: 1em 0 1em 0;
	text-align: center;
}

#errorMsgLbl { color: #FFF !important;}

#errorMsg strong,
form li.error { background-color: #FFF !important; }

