@charset "UTF-8";
@import url('reset.css');
@import url('grid.css');

/* HTML5 block items */

article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section { display: block; }

html, body {
    background-color: #EEE;
}

body {
    color: #222;
    font-family: 'Proxima Nova','proxima-nova-1','proxima-nova-2', 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.5em;
    font-size: 14px;
}

a {
    color: #E58;
    text-decoration: none;
}

a:hover {
    color: #222;
    background: hsla(330,100%,50%,.1);
}

/**************************
**  Site Header
**************************/

#site-header {
    position: relative;
    font-size: 17px;
    line-height: 22px;
}

#site-header #branding {
    position: absolute;
    background: #222;
    width: 100%;
    min-width: 940px;
    color: #EEE;
    text-transform: uppercase;
    z-index: 100;
    left: 0;
}

body.articles #site-header #branding { top: 0;}
body.resources #site-header #branding { top: 22px;}
body.portfolio #site-header #branding { top: 44px;}
body.about #site-header #branding { top: 66px;}

#site-header #branding p {
    width: 940px;
    margin: 0 auto;
    font-weight: 800;
    padding: 0 10px;
    position: relative;
    z-index: 100;
}
#site-header #branding p a {
    color: #FFF;
}
#site-header #branding p a:hover { color: #E58; }


#site-header a:hover {
    background: none;
}

#site-header #branding p a * {
    display: block; 
    float: left;

}
#site-header #branding p span { font-weight: 100; }

#site-header ol {
    width: 960px;
    margin: 0 auto 20px;
    text-transform: uppercase;
    font-weight: 600;
}

#site-header ol li {
    z-index: 200;
    position: relative;
    top: 0;
    left: 170px;
    width: 780px;
    color: #EEE;
}


#site-header ol a {
    color: #222;
}
body.articles #site-header ol .articles a,
body.resources #site-header ol .resources a,
body.portfolio #site-header ol .portfolio a,
body.about #site-header ol .about a { 
    color: #FFF; 
}


#site-header ol .articles a:hover,
body.articles #site-header ol .articles a:hover { color: #3C7; }
#site-header ol .resources a:hover,
body.resources #site-header ol .resources a:hover { color: #F90; }
#site-header ol .portfolio a:hover,
body.portfolio #site-header ol .portfolio a:hover { color: #85E; }
#site-header ol .about a:hover,
body.about #site-header ol .about a:hover { color: #58E; }

#site-header ol em {
    font-style: normal;
}

#site-header ol time {
    margin-left: 0.8em;
    font-weight: 200;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.15em;
}

#site-header .older-newer {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.1em;
}

#site-header .older-newer a { margin-left: 10px; }

/**** Short URL ****/

.short-url {
    position: relative;
}

.short-url{
    -webkit-transition: all 0.2s ease-out;
       -moz-transition: all 0.2s ease-out;
         -o-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
}

#site-header .short-url {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-top: 1px;
    margin-left: 0.5em;
    line-height: 20px;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}

#site-header .short-url:hover {
    background: #FFF;
    color: #222;
}

#site-footer .short-url {
    top: -30px;
    color: #EEE;
    font-weight: 600;
    font-size: 17px;
}

.short-url details {
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    display: block;
    overflow: hidden;
    position: absolute;
    left: 20px;
    top: 0;
    height: 22px;
    background: #222;
    color: #EEE;
}

#site-header .short-url:hover { cursor: pointer; }



.short-url input {
    background: none;
    width: 200px;
    border: none;
    font-family: inherit;
    font-style: italic;
    color: inherit;
    font-size: 15px;
    font-weight: 600;
    color: #FFF;
    padding-left: 0.2em;
}

/* no Webkit bluish outline when focused. Grifted from dribbble's css.  Thanks Dan! */
.short-url input:focus { outline-width: 0; }


#site-header .short-url,
#site-header .short-url details,
#site-header .short-url input,
#site-footer .short-url,
#site-footer .short-url details,
#site-footer .short-url input {
    
    -webkit-transition: all 0.2s ease-out;
       -moz-transition: all 0.2s ease-out;
         -o-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;

}

#site-header .short-url details {
    opacity: 0;
    width: 0;
    top: -1px;
    line-height: 22px;
    z-index: 100;
}

#site-header .short-url:hover details {
    opacity: 1;
    width: 300px;
}

#site-footer .short-url,
#site-footer .short-url details {
    color: #666;
}


#site-footer .short-url:hover,
#site-footer .short-url:hover details {
    color: #EEE;
}

#site-footer .short-url input {
    color: #888;
}

#site-footer .short-url:hover input {
    color: #FFF;
}



/**** RSS Icon ****/

#site-header .rss {
    position: absolute;
    top: 3px;
    left: 4px;
    width: 17px;
    height: 17px;
    overflow: hidden;
}

.rss a {
    display: block;
    width: 13px;
    height: 13px;
    background: #F90;
    position: relative;
    overflow: hidden;
    text-indent: -9999px;
    border: 2px solid;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}

.rss a span {
    display: block;
    position: absolute;
}

.rss a .dot {
    width: 3px;
    height: 3px;
    left: 0;
    top: 10px;
    background: #FFF;
    -webkit-border-radius: 1.5px;
       -moz-border-radius: 1.5px;
            border-radius: 1.5px;
}

.rss a .ring {
    border: 3px solid #FFF;
}

.rss a .inside {
    width: 10px;
    height: 10px;
    left: -8px;
    top: 5px;
    -webkit-border-radius: 7px;
       -moz-border-radius: 7px;
            border-radius: 7px;
}



.rss a .outside {
    width: 20px;
    height: 20px;
    left: -13px;
    top: 0px;
    -webkit-border-radius: 12px;
       -moz-border-radius: 12px;
            border-radius: 12px;
}



.rss a { background: #222; border-color: #222; }

#site-header .rss a:hover { background: #F90; border-color: #F90; }
#site-header .rss a:hover .dot { background: #FFF; }
#site-header .rss a:hover .ring { border-color: #FFF; }

/**************************
**  Dark version of Site Header
**************************/

body.dark #site-header #branding {
    background: #FFF;
    color: #222;
}

body.dark #site-header #branding p a {
    color: #222;
}

body.dark #site-header ol a {
    color: #FFF;
}
body.dark  #site-header ol .articles,
body.dark  #site-header ol .articles a { 
    color: #222; 
}

body.dark .rss a { background: #FFF; border-color: #FFF; }
body.dark .rss a .dot { background: #222; }
body.dark .rss a .ring { border-color: #222; }


body.dark #site-header .short-url:hover {
    background: #222;
    color: #FFF;
}

body.dark #site-header .short-url details {
    background: #FFF;
    color: #444;
}

body.dark #site-header .short-url input {
    color: #222;
}

/**************************
**  Basic styles
**************************/

h1 {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 56px;
    line-height: 1.2em;
    margin-bottom: 20px;
}

h2 {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 0.5em;
    line-height: 1.0em;
}

h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0.5em;
    line-height: 1.0em;
}

h4 {
    font-size: 17px;
    font-weight: 600;
}

p {
    margin-bottom: 1.0em;
}

a.button {
    font-size: 14px;
    padding: 5px 15px;
    background: #E58;
    background: -moz-linear-gradient(-90deg, hsl(330,100%,50%), hsl(330,100%,47%) );
    color: #FFF;
    -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
            border-radius: 15px;
    -webkit-box-shadow: 0px 2px 5px rgba(0,0%,0%,.15); 
       -moz-box-shadow: 0px 2px 5px hsla(0,0%,0%,.15);  
            box-shadow: 0px 2px 5px rgba(0,0%,0%,.15);   
}
a.button:hover {
    background: #C36;
    background: -moz-linear-gradient(-90deg, hsl(330,100%,49%), hsl(330,100%,40%) );
}
a.button:focus {
    -moz-box-shadow: inset 0px 2px 13px rgba(0,0,0,.5);
}


pre, code {
    background: #222;
    color: #FFF;
    font-family: Monaco, monospace;
    font-size: 12px;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}

pre {
    padding: 10px;
    margin-bottom: 1.0em;
}


/**************************
**  Article List
**************************/

#content.article-list {
    padding: 0 30px;
}

#content.article-list h1 {padding-left: 10px;}

#content.article-list article {
    width: 320px;
    float: left;
    margin-bottom: 40px;
}

#content.article-list article a {
    display: block;
    position: relative;
    color: #3C7;
    width: 300px;
    padding: 10px;
    background: #EEE;
    -webkit-transition: all 0.12s ease-out;
       -moz-transition: all 0.12s ease-out;
         -o-transition: all 0.12s ease-out;
}

#content.article-list article a:hover {
    background: #FFF;
    color: #222;
    z-index: 100;
    -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
         -o-transform: scale(1.1);
    -webkit-box-shadow: 0 3px 6px hsla(0,0%,0%,0.2);
       -moz-box-shadow: 0 3px 6px hsla(0,0%,0%,0.2);
            box-shadow: 0 3px 6px hsla(0,0%,0%,0.2);
}

#content.article-list article a * { display: block;}

#content.article-list article h2 {
    margin-bottom: 0;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

#content.article-list article time {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 200;
    margin-bottom: 5px;
}

/**************************
**  Site Footer
**************************/

#site-footer {
    background: #222;
    color: #EEE;
    padding-top: 60px;
    padding-bottom: 60px;
    clear: both;
}

#site-footer p { margin-bottom: 0;}


#site-footer a:hover {
    background: none;
}

#site-footer .made-this p {
    position: relative;
    left: 0;
    top: 0;
    -webkit-transition: all 0.12s ease-out;
       -moz-transition: all 0.12s ease-out;
         -o-transition: all 0.12s ease-out;
}

#site-footer .made-this a {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 42px;
    line-height: 0.9em;
    margin-bottom: 10px;
    display: block;
    position: relative;
    -webkit-transition: all 0.12s ease-out;
       -moz-transition: all 0.12s ease-out;
         -o-transition: all 0.12s ease-out;
}
#site-footer .made-this a strong { font-weight: 800;}


#site-footer .made-this a .given-name,
#site-footer .made-this a .family-name,
#site-footer .made-this a .made,
#site-footer .made-this a .this {
    color: #555;
    text-shadow: 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000, 5px 5px #000, 6px 6px #000, 7px 7px #000, 8px 8px #000;
    -webkit-transition: all 0.12s ease-out;
       -moz-transition: all 0.12s ease-out;
         -o-transition: all 0.12s ease-out;
    
}

#site-footer .made-this a:hover {
    color: #FFF;
    top: -3px;
    left: -3px;
}
#site-footer .made-this a:hover .given-name {
    color: #FFF;
    text-shadow: 1px 1px #58E, 2px 2px #58E, 3px 3px #58E, 4px 4px #58E, 5px 5px #58E, 6px 6px #58E, 7px 7px #58E, 8px 8px #58E, 9px 9px #58E, 10px 10px #58E, 11px 11px #58E;
}
#site-footer .made-this a:hover .family-name {
    color: #FFF;
    text-shadow: 1px 1px #F90, 2px 2px #F90, 3px 3px #F90, 4px 4px #F90, 5px 5px #F90, 6px 6px #F90, 7px 7px #F90, 8px 8px #F90, 9px 9px #F90, 10px 10px #F90, 11px 11px #F90;
}

#site-footer .made-this a:hover .made {
    color: #FFF;
    text-shadow: 1px 1px #3C7, 2px 2px #3C7, 3px 3px #3C7, 4px 4px #3C7, 5px 5px #3C7, 6px 6px #3C7, 7px 7px #3C7, 8px 8px #3C7, 9px 9px #3C7, 10px 10px #3C7, 11px 11px #3C7;
}

#site-footer .made-this a:hover .this {
    color: #FFF;
    text-shadow: 1px 1px #E58, 2px 2px #E58, 3px 3px #E58, 4px 4px #E58, 5px 5px #E58, 6px 6px #E58, 7px 7px #E58, 8px 8px #E58, 9px 9px #E58, 10px 10px #E58, 11px 11px #E58;
    
}

#site-footer .made-this .given-name {
    display: block;
    font-size: 76px;
    line-height: 0.8em;
}

#site-footer .made-this .family-name {
    display: block;
    line-height: 0.9em;

}

#site-footer .copyright {
    color: #555;
    padding-left: 60px;
    -webkit-transition: all 0.12s ease-out;
       -moz-transition: all 0.12s ease-out;
         -o-transition: all 0.12s ease-out;
}



#site-footer .where-what {
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    color: #555;

}
#site-footer .where-what .heisa,
#site-footer .where-what .designer,
#site-footer .where-what .living,
#site-footer .where-what .working,
#site-footer .where-what .happy { 
    color: #555;
	line-height: 1.05em;
    text-shadow: 0 0px 1px #222;
    width: 360px;
	display: block; 
	position: relative;
	left: -30px;
    -webkit-transform-origin: center bottom;
       -moz-transform-origin: center bottom;
         -o-transform-origin: center bottom;
    -webkit-transition: all 0.2s ease-out;
       -moz-transition: all 0.2s ease-out;
         -o-transition: all 0.2s ease-out;
}
#site-footer .where-what .heisa:hover,
#site-footer .where-what .designer:hover,
#site-footer .where-what .living:hover,
#site-footer .where-what .working:hover,
#site-footer .where-what .happy:hover {
    color: #666;
    text-shadow: 0 4px 1px #000;
    -webkit-transform: scale(1.25);
       -moz-transform: scale(1.25);
         -o-transform: scale(1.25);
}
#site-footer .where-what span:hover a { color: #E58; }

#site-footer .where-what .heisa { font-size: 32px; }
#site-footer .where-what .designer { font-size: 40px; }
#site-footer .where-what .living { font-size: 22px; }
#site-footer .where-what .working { font-size: 12px; letter-spacing: 0.15em; line-height: 2.0em; font-weight: 500; }
#site-footer .where-what .happy { font-size: 9px; letter-spacing: 0.15em; line-height: 1.2em; font-weight: 500; }

#site-footer .where-what .working:hover,
#site-footer .where-what .happy:hover { 
    -webkit-transform: scale(1.4);
       -moz-transform: scale(1.4);
         -o-transform: scale(1.4);

}

#site-footer .where-what a:hover { color: #FFF; }

#site-footer .also-made {
    text-align: right;
}

#site-footer .also-made h3 {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0.4em;
    line-height: 1.2em;
    color: #555;
}

#site-footer .also-made li {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 26px;
    line-height: 1.6em;
}
#site-footer .also-made li.jqmsnry{ font-size: 27px;}
#site-footer .also-made li.curtis{ font-size: 22.5px;}
#site-footer .also-made li.speechbub{ font-size: 24px;}

.also-made a {
    color: #EEE;
    text-shadow: 1px 1px #D47, 2px 2px #D47, 3px 3px #D47;
    position: relative;
    top: 0;
    left: 0;
    -webkit-transition: all 0.12s ease-out;
       -moz-transition: all 0.12s ease-out;
         -o-transition: all 0.12s ease-out;
}
.also-made a:hover {
    color: #FFF;
    top: -3px;
    left: -3px;
    text-shadow: 1px 1px #D47, 2px 2px #D47, 3px 3px #D47, 4px 4px #D47, 5px 5px #D47, 6px 6px #D47;
}
