/*
---------------------------------------------------------------- */

body, input, textarea, select, optgroup, option {
font-family: Verdana, Arial, Helvetica, sans-serif;
}

html {
font-size: 12px;
line-height: normal;
}

.pun pre {
font-family: Monaco, "Bitstream Vera Sans Mono", "Courier New", monospace;
}

fieldset {
}

input, textarea, select, optgroup, option, 
table,
div.postmsg p.postedit {
font-size: 1em;
}

.pun div,
.pun blockquote,
.pun h1, .pun h2, .pun h3, .pun h4, .pun p,
.pun dt, .pun dd,
.pun table,.pun th, .pun td,
.pun form, .pun fieldset,
.pun img {
margin: 0;
padding: 0;
font-weight: normal;
}

.pun p {
margin-bottom: 10px;
}

.pun ol {
margin-left: 25px;
padding: 0;
}

.pun ul {
margin-left: 15px;
padding: 0;
list-style-type: circle;
}

.pun .postfootright ul {
margin: 0 5px 0 0;
padding: 0;
list-style: none;
}

.pun li {
margin: 0;
padding: 0 0 5px 0;
}

.pun img {
border: none;
}

.pun input,
.pun select,
.pun textarea,
.pun optgroup {
margin: 0;
}

.pun optgroup {
font-style: normal;
}

.pun #inbox ul, .pun #brdmenu ul,
.pun #brdwelcome ul.conl, .pun #brdwelcome ul.conr,
.pun #postleft dl,
.pun .blockmenu ul {
margin: 0;
padding: 0;
list-style: none;
}

/* structural settings - very important - do not change
---------------------------------------------------------------- */

.pun .clearer,
.pun .nosize {
width: 0;
height: 0;
font-size: 0;
line-height: 0px;
overflow: hidden;
}

.pun .clearer,
.pun .clearb {
clear: both;
}

.pun .nosize {
position: absolute;
left: -10000px;
}

div.blockpost div.box,
div.postleft,
div.postsignature,
div.postmsg {
overflow: hidden;
}

div.postmsg pre {
overflow: auto;
}

/* bug fixes - do not alter comments!
---------------------------------------------------------------- */

/* IE6 Win \*/
* html {
font-size: 68.75%;
}

* html .inbox,
* html .inform,
* html .pun,
* html .intd,
* html .tclcon {
height: 1px;
}

* html .inbox div.postmsg {
width: 98%;
}
/* End IE6 Win */


/* IE7 Win */
.pun, .pun .inbox, .pun .inform, .pun .intd, .pun .tclcon {
min-height: 1px;
}
/* End IE7 Win */


/* eliminate rounding errors in gecko browsers */

div > div > div.postfootleft,
div > div > div.postfootright {
margin-top: -1px;
padding-top: 1px;
}

/*
---------------------------------------------------------------- */

#brdfooter h2, #brdstats h2,
#brdstats .conl dt, #brdstats .conr dt,
#modcontrols dt, #searchlinks dt,
div.postright h3 {
position: absolute;
display: block;
overflow: hidden;
width: 1em;
left: -999em;
}

/* box containers and floats
---------------------------------------------------------------- */

.conr {
float: right;
clear: right;
width: 49.9%;
text-align: right;
}

.conl {
float: left;
width: 49.9%;
}

label.conl {
margin-right: 5px;
width: auto;
overflow: visible;
}

div.postlinksb .conl {
width: 18em;
}

div.linkst .conr,
div.linksb .conr,
div.postlinksb .conr {
width: 16em;
}

form div.linksb .conr {
width: 32em;
}

/* settings for profile and admin interface */

div.block2col {
padding-bottom: 1px;
}

div.block2col div.blockform,
div.block2col div.block,
#viewprofile dd {
margin-left: 14em;
}

div.blockmenu,
#viewprofile dt {
float:left;
width: 13em;
}

#profileavatar img {
float: right;
margin-left: 1em;
}

#viewprofile dl {
float: left;
width: 100%;
overflow: hidden;
}

/* table setup
---------------------------------------------------------------- */

.pun table {
width: 100%;
}

.tcl {
width: 50%;
text-align: left;
}

.tc2 {
width: 32%;
text-align: left;
}

.tc3 {
width: 9%;
}

.tc3, .tcmod, .tcr {
text-align: center;
}

.tcr {
width: 9%;
}

.tcl, .tcr {
overflow: hidden;
}

#punindex table,
#vf table {
table-layout: fixed;
}

#punindex .tcr, 
#vsf .tcr {
width: 18%;
text-align: left;
}

#punindex .tcr ul,
#vsf .tcr ul {
margin: 0;
padding: 0;
list-style-type: none;
text-align: left;
}

#punindex .tcr li, 
#vsf .tcr li {
margin: 0 0 5px 0;
padding: 0;
}

#punsearch #vf .tcl,
#punmoderate #vf .tcl {
width: 41%;
}

#punsearch #vf .tc2 {
width: 18%;
text-align: left;
}

#users1 .tcl {
width: 40%;
}

#users1 .tcr {
width: 25%;
}

#users1 .tc2 {
width: 25%;
text-align: left;
}

#users1 .tc3 {
width: 10%;
text-align: center;
}

#debug .tcr {
width: 85%;
white-space: normal;
}

#punindex td.tcr span.byuser {
display: block;
}


/* viewtopic setup
---------------------------------------------------------------- */

div.postleft, div.postfootleft {
float:left;
width: 18em;
overflow: hidden;
position: relative;
}

div.postright, div.postfootright {
border-left-width: 18em;
border-left-style: solid;
}

div.postfootright, p.multidelete {
text-align: right;
}

div.blockpost > div > div.inbox {
padding-bottom: 1px;
}

/* div which contains the post and is inside of ".postright" */

div.postmsg {
width: 100%;
}

/* these items control overflow and scrolling within posts */

div.incqbox {
width: 100%;
overflow: hidden;
}

div.scrollbox {
width: 100%;
overflow: auto;
}

img.postimg {
max-width: 100%;
}

a.postimg {
max-width: 100%;
}

/* create the horizontal line above signatures */

div.postsignature hr {
margin-left: 0px;
width: 200px;
height: 1px;
text-align: left;
border: none;
}

/* maximum height for search results as posts. position go to
post link */

div.searchposts div.postmsg {
height: 8em;
}

div.searchposts dd p {
padding-top: 3em;
}

/* turn off the poster information column for preview */

#postpreview div.postright {
border-left: none;
}

/* lists special settings
---------------------------------------------------------------- */

/* horizontal display of online list, main navigation menu,
and breadcrumbs */

.inline dd, .inline dt, 
.inline li, 
#brdmenu li,
div.linkst li, div.linksb li, div.postlinksb li,
div.postfootright li,
ul.bblinks li {
display: inline;
}

/* turn on square icon for posterror list */

#posterror ul li {
list-style: square inside;
}

/* right alignment of descriptions in ordinary member view of
other members profiles. */

#viewprofile dt {
text-align: right;
}

/* form settings
---------------------------------------------------------------- */

/* makes textareas and lont text inputs shrink with page */

div.txtarea {
width: 75%;
}

div.txtarea textarea,
input.longinput {
width: 100%;
}

.pun label {
display: block;
}

#qjump select {
width: 50%;
}

/* help files and misc
---------------------------------------------------------------- */

#punredirect div.block,
#punmaint div.block {
margin: 50px 20% 12px 20%;
}

/* text
---------------------------------------------------------------- */

.pun h2, .pun h4 {
font-size: 1em
}

.pun h3 {
font-size: 1.1em;
}

#brdtitle h1 {
font-size: 1.4em;
}

div.postmsg p {
line-height: 1.4;
}

div.postleft dt {
font-size: 1.1em;
}

.pun pre {
font-size: 1.2em;
}

div.postleft dt,
div.postmsg h4, td.tcl h3, div.forminfo h3,
p.postlink,
div.linkst li, div.linksb li,
div.postlinksb li, .blockmenu li,
#brdtitle h1,
.pun span.warntext, .pun p.warntext {
font-weight: bold;
}

/* links
---------------------------------------------------------------- */

/* Remove underlining for main menu, post header links,
post links and vertical menus */

#brdmenu a:link, #brdmenu a:visited,
 .blockpost dt a:link, .blockpost dt a:visited,
 .blockpost h2 a:link, .blockpost h2 a:visited,
 .postlink a:link, .postlink a:visited,
 .postfootright a:link, .postfootright a:visited,
.blockmenu a:link, .blockmenu a:visited {
text-decoration: none;
}

/* Underline on hover for links in headers and main menu */

#brdmenu a:hover,
.blockpost h2 a:hover {
text-decoration: underline;
}

/* border width and style
---------------------------------------------------------------- */

div > fieldset {
border-style: solid;
border-width: 1px;
}

div.box,
.pun td, .pun th,
.pun blockquote,
div.codebox,
div.forminfo,
div.blockpost label {
border-style: solid;
border-width: 1px;
}

.pun td, .pun th {
border-bottom: none;
border-right: none;
}

.pun .tcl {
border-left: none;
}

#brdheader div.box {
border-top-width: 4px;
}

/* vertical and page spacing
---------------------------------------------------------------- */

html, body {
margin: 0;
padding: 0;
}

div.block2col div.blockform,
div.block2col div.block {
margin-bottom: 0;
}

div.postlinksb {
margin-top: -6px;
}

/* creates vertical space between main board elements (Margins) */

div.blocktable,
div.block,
div.blockform,
div.block2col,
#postreview {
margin-bottom: 12px;
}

#punindex div.blocktable,
div.blockpost {
margin-bottom: 6px;
}

#punwrap {
margin: 12px 20px;
}

/* put a 12px gap above the board information box in index
because the category tables only have a 6px space beneath them */

#brdstats {
margin-top: 12px;
}

/* spacing around content
---------------------------------------------------------------- */

div.block div.inbox,
div.blockmenu div.inbox {
padding: 3px 6px;
}

.pun h1 {
padding: 3px 0 0 0;
}

.pun h2 {
padding: 4px 6px;
}

.pun p,
.pun ul,
.pun dl,
div.blockmenu li,
.pun label,
#announce div.inbox div {
padding: 3px 0;
}

#brdtitle p {
padding-top: 0;
}

#brdwelcome, #brdfooter dl a,
div.blockmenu li, div.rbox input {
line-height: 1.4em;
}

#viewprofile dt, #viewprofile dd {
padding: 0 3px;
line-height: 2em;
}

#brdmenu li, div.rbox input,
div.blockform p input {
margin-right: 12px;
}

/* spacing for tables
---------------------------------------------------------------- */

.pun th,
.pun td {
padding: 4px 6px;
}

.pun td p {
padding: 5px 0 0 0;
}

.tcl p {
margin: 0;
padding: 0;
}

/* spacing for posts
---------------------------------------------------------------- */

/* padding around left and right columns in viewtopic */

div.postleft dl,
div.postright {
padding: 6px;
}

/* extra spacing for poster contact details and avatar */

dd.usercontacts, dd.postavatar {
margin-top: 5px;
}

dd.postavatar {
margin-bottom: 5px;
}

/* extra top spacing for signatures and edited by */

div.postsignature,
div.postmsg p.postedit {
padding-top: 15px;
}

/* spacing for code and quote boxes */

div.postmsg h4 {
margin-bottom: 10px;
}

.pun blockquote,
div.codebox {
margin: 5px 15px 15px 15px;
padding: 8px;
}

/* padding for the action links and online indicator in viewtopic */

div.postfootleft p,
div.postfootright ul,
div.postfootright div {
padding: 10px 6px 5px 6px;
}

/* this is the input on moderators multi-delete view */

div.blockpost input,
div.blockpost label {
padding: 3px;
display: inline;
}

p.multidelete {
padding-top: 15px;
padding-bottom: 5px;
}

/* make sure paragraphs in posts don't get any padding */

div.postmsg p {
padding: 0;
}

/* special spacing for forms
---------------------------------------------------------------- */

.pun fieldset {
padding: 0 12px;
}

.pun legend {
padding: 0 6px;
}

div.infldset {
padding: 9px 0 12px 0;
}

div.blockform form,
div.fakeform {
padding: 20px 20px 15px 20px;
}

div.inform {
padding-bottom: 12px;
}

/* the information box at the top of the registration form and
elsewhere */

div.forminfo {
margin-bottom: 12px;
padding: 9px 10px
}

/* horizontal positioning for the submit button on forms */

div.blockform p input {
margin-left: 12px;
}

/* post status indicators
---------------------------------------------------------------- */

/* These are the post status indicators which appear at the left
of some tables.
.inew = new posts,
.iredirect = redirect forums,
.iclosed = closed topics and
.isticky = sticky topics.
By default only .inew is different from the default */

div.icon {
margin-top: 0.1em;
margin-left: 0.2em;
float: left;
display: block;
border-width: 0.6em;
border-style: solid
}

/* .tclcon is a div inside the first column of tables with post
indicators. The margin creates space for the post status
indicator */

.tclcon h3, 
.tclcon p, 
.tclcon .thread {
margin-left: 25px;
}

/*
---------------------------------------------------------------- */

label {
cursor: pointer;
}

.qjump label {
margin: 0 0 5px 0;
}

.qjump select {
margin-top: 2px;
}

.top-search label {
display: inline;
}

div.linkst {
margin: 0;
}

div.linksb {
margin: 0 0 10px 0;
padding: 0 4px;
}

ul.nav {
margin: 0;
float: left;
width: 44em;
}

p.page-links {
margin: 0;
padding-left: 2em;
float: left;
width: 14em;
}

dl.iredirect {
margin: 0;
padding: 0;
}

.iredirect dt {
margin: 0 0 5px 0;
padding: 4px 6px 0 10px;
font-weight: bold;
}

.iredirect dd + dt,
.iredirect dt + dt {
border-top-width: 1px;
border-top-style: solid;
}

.iredirect dt a {
font-weight: bold;
}

.iredirect dd {
padding: 0 6px 4px 10px;
}

tr.dividesticky td {
border-top-width: 4px;
border-top-style: solid;
}

#network-links {
position: relative;
float: right;
width: 15em;
font-size: 0.9em;
}

#network-links h3, #network dt {
font-family: Verdana, Arial, Helvetica, sans-serif;
}

#network-links h3 {
text-align: right;
}

#network-links h3 a {
font-weight: bold;
}

#network {
display: none;
position: absolute;
margin: 5px 0 0 0;
padding: 0 2px;
width: 15em;
background-color: #fff;
border: 1px solid #eee;
}

#network dt {
margin: 2px 0;
padding: 3px 4px 3px 6px;
font-weight: bold;
letter-spacing: 0.1em;
}

#network dd {
margin: 0;
padding: 0;
background-color: #f7f7f7;
}

#network dd a {
margin: 2px 0;
padding: 3px 4px 3px 8px;
display: block;
}

#network dd a:hover {
background-color: #ffd;
}

#textile-help {
display: none;
}

#textile-help dd {
margin-left: 25px;
}

#textile-help dd + dt {
margin-top: 10px;
}

ul.search-form-links {
	margin: 0;
	padding: 10px;
	list-style: none;
}

ul.search-form-links li {
	margin: 0 10px;
	display: inline;
}