#wrap.content {
	float: none;
	width: 460px;
	padding-right: 500px;
}

.pull_right {
	position: relative;
	float: right;
	margin-right: -480px;
	border: 1px solid #CCC;
}

#wrap.content p {
	margin-bottom: 1.0em;
}

h1 {
	border-bottom: 3px double #CCC;
	margin-bottom: 20px;
}

dl {
	margin-bottom: 20px;
}

dt {
	margin-top: 0.5em;
	font-size: 15px;
	font-weight: bold;
}

dd {
	padding-left: 20px;
}