/* HTML5 elements */
section, nav, aside {
	display: block;
}


body {
	border-top: 15px solid #FC3;
    padding-top: 30px;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-size: 13px;
    color: #222;
	background: url(../img/texture05.jpg) repeat-x;
    line-height: 1.4em;
}

a {
	color: #963;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

h1, h2 {
    font-family: Georgia, serif;
}

/***************  Masthead *************/

#site_header {
    margin-bottom: 30px;
}

h1 {
    
    font-size: 22px;
    float: left;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: bold;
    margin-bottom: 0px;
}
h1 a {
    color: #222;

}
h1 a:hover {
    color: #963;
    text-decoration: none;
}

#secondary_nav {
    float: right;
}

#secondary_nav li {
    float: left;
    margin-left: 20px;
    font-size: 12px;
    font-family: Georgia, serif;
    font-style: italic;

}
#secondary_nav li a {
    padding: 0px 0 6px;
    display: block;
    color: #888;
}

#site_header .bottom_row {
    border-top: 3px double #CCC;
    border-bottom: 3px double #CCC;
    clear: both;
}

#primary_nav li {
    float: left;
    font-family: Georgia, serif;
    font-size: 14px;
    font-weight: bold;
    margin-right: 20px;
    
}

#primary_nav li a {
    display: block;
    padding: 8px 8px;
    border-bottom: 3px double #888;
    color: #222;
    margin-bottom: -3px;
}
#primary_nav li a:hover {

}

.recent #primary_nav li.nav_recent a {
	background: rgba(0,0,0,.3);
}

#search_box {
    padding-top: 6px;
    float: right;
}

#search_box label {
    position: absolute;
    left: -9999em;
}

#search_box #search_input {
    font-size: 14px;
    font-family: inherit;
}

/***************  Main Content *************/

h3 {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #222;
    margin-bottom: 0.3em;
}

article {
    margin-bottom: 20px;
}

.plugin.list {
    border-top: 1px dotted #CCC;
    padding-top: 0.5em;
}

.list h2 {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 0.3em;
}

date {
    font-family: Georgia, serif;
    color: #888;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.2em;
}

a.category {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 11px;
}

#intro {
    font-size: 16px;
    font-style: italic;
    font-family: Georgia, serif;
    margin-bottom: 1.0em;
    line-height: 1.2em;
}

#category_list a {
    display: block;
    padding: 0.4em 0;
    border-top: 1px dotted #CCC;
    width: 105px;
    margin-right: 5px;
    float: left;
}
#category_list a:hover {
    background: #FFC;
    text-decoration: none;
}