/**************************
**  Generic Base styles
**************************/

/* HTML5 elements */
section, nav, aside, article, header {
	display: block;
}


body {
	border-top: 15px solid #FC3;
    padding-top: 30px;
	padding-bottom: 30px;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-size: 13px;
    color: #222;
	background: url(../img/texture05.jpg) repeat-x;
    line-height: 1.4em;
}

a {
	color: #963;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
    color: #222
}

.content p {
	margin-bottom: 1.0em;
}

.content ul, .content ol {
	margin-left: 1.5em;
    margin-bottom: 1.0em;
}
.content ul li { list-style: disc; }
.content ul ul li {  list-style: circle; }
.content ul ul ul li {  list-style: square; }

.content ol li { list-style: decimal; }
.content ol ol li {  list-style: lower-latin; }
.content ol ol ol li {  list-style: lower-roman; }


code {
	background: #FFD;
	padding: 0.2em;
}

pre {
	background: #FFD;
	border: 1px dotted #CCC;
	margin-bottom: 1.0em;
	padding: 10px;
}

date {
    color: #888;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.1em;
}


input, button, textarea {
    font: inherit;
}

textarea, input[type="text"] {
    border:  1px solid #CCC;
    background: #F9F7F5;
    -moz-box-shadow: inset 0 2px 4px hsla(0,0%,0%,.07);
}
textarea {
    padding: 5px;
}
input[type="text"] {
    padding: 3px;
}
textarea:focus, input[type="text"]:focus {
    border-color: #999;
    background: #FDFBF9;
}


/* Everything that needs to be serif */
h1, h2, h3, h4, h5, h6,
#site_name, #secondary_nav li, #primary_nav li,
#intro, a.category, .meta, .utility_links,
#comment_form .row span,
.pagination {
    font-family: 'Hoefler Text', 'Garamond Premier Pro', 'Garamond', 'Bell MT', 'Palatino Linotype', serif;
}



/**************************
**  Headers
**************************/

h1 {
	font-size: 48px;
	font-weight: bold;
	font-style: italic;
	line-height: 1.2em;
}
.content h1 {
	font-size: 32px;
}
.page_authors h1 {
	margin-bottom: 10px;
	border-bottom: 1px dotted #CCC;
}

h2 {
	font-size: 20px;
	margin-bottom: 0.5em;
    letter-spacing: 0.02em;
}

h3 {
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 0.3em;
}

h4 {
	font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
	letter-spacing: 0.05em;
    color: #222;
    margin-bottom: 0.3em;
}

h5 {

    text-transform: uppercase;
	letter-spacing: 0.05em;
    font-size: 10px;

}



/**************************
**  Layout
**************************/

#wrap {
    width: 950px;
    padding: 0 10px;
    margin: 0 auto;
}

#main {
    width: 660px;
    float: left;
}

#sidebar {
    width: 240px;
    float: right;
}

section {
	margin-bottom: 2.0em;
	border-bottom: 3px double #CCC;
}

.meta {
    float: left;
    width: 150px;
    margin-right: 30px;
}

.content {
    width: 480px;
    float: left;
}

/**** Clearfix ****/

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}

/**************************
**  Masthead
**************************/

#site_header {
    margin-bottom: 40px;
}

#site_name {
    
    font-size: 22px;
    float: left;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: bold;
    margin-bottom: 0px;
}
#site_name a {
    color: #222;

}
#site_name a:hover {
    color: #963;
    text-decoration: none;
}

#secondary_nav {
    float: right;
}

#secondary_nav li {
    float: left;
    margin-left: 10px;
    font-style: italic;

}
#secondary_nav li a {
    padding: 0px 6px 6px;
    display: block;
    color: #888;
}

#site_header .bottom_row {
    border-top: 3px double #CCC;
    border-bottom: 3px double #CCC;
    clear: both;
}

#primary_nav li {
    float: left;
    font-size: 14.5px;
    font-weight: bold;
    margin-right: 14px;
    
}

#primary_nav li a {
    display: block;
    padding: 8px 12px;
    border-bottom: 3px double #888;
    color: #863;
    margin-bottom: -3px;
}
#primary_nav li a:hover {
    background: #FFD;
    background: rgba(255,255,128,.3);
    text-decoration: none;
    color: #222;
}

/* selected tabs */

.page_newest #primary_nav li.nav_newest a,
.page_featured #primary_nav li.nav_featured a,
.page_recently_updated #primary_nav li.nav_recent a,
.page_authors #primary_nav li.nav_authors a,
.page_tags #primary_nav li.nav_tags a {
    background: rgba(150,100,50,.07);
    color: #222;
    border-bottom: 3px solid #222;
}

.recent #primary_nav li.nav_recent a {
	background: rgba(0,0,0,.3);
}

#search_box {
    padding-top: 6px;
    float: right;
}

#search_box label {
    position: absolute;
    left: -9999em;
}

#search_box #search_input {
    font-size: 14px;
    font-family: inherit;
    padding: 3px;
}

/***************  Main Content *************/


h1 .lead_in {
    display: block;
    font-size: 13px;
    line-height: 0.9em;
    font-weight: normal;
    font-style: normal;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

article {
    margin-bottom: 20px;
}

.plugin.list {
    border-top: 1px dotted #CCC;
    padding-top: 0.5em;
}

#intro {
    font-size: 21px;
    margin-bottom: 40px;
    line-height: 1.2em;
    text-align: center;
}
#intro h1 {
	font-size: 55px;
}


/**************************
**  Full Plugin Article
**************************/

.full header {
    position: relative;
}

/**** Utility Links ****/

.full .utility_links {
    position: absolute;
    bottom: 0.7em;
    right: 0;
    font-weight: bold;
    font-size: 14px;
    height: 2.4em;
    width: 200px
}

.full .utility_links a {
}

.full .utility_links a em {
    margin-left: 0px;
    display: block;
    position: relative;
    text-align: right;
    font-style: normal;
    top: 1.2em;
    float: right;
    text-align: center;
    width: 20px;
    line-height: 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.full .utility_links a:hover em {
    background: #333;
    color: #FFF;
}

.full .utility_links a span {
    font-style: italic;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
.full .utility_links a:hover span {
    display: block;
}

.full .utility_links a:hover {
	text-decoration: none;
}

/**** Article content ****/

.plugin.full .article_body {
    border-top: 1px dotted #CCC;
    border-bottom: 3px double #CCC;
    padding-top: 0.7em;
    margin-bottom: 2.0em;
}

.plugin.full .meta div {
    margin-bottom: 6px;
    padding-bottom: 6px;
    border-bottom: 1px dotted #CCC;
}

.plugin.full .meta p {
}

.plugin.full .meta .download {
    border: none;
    padding: 0;
    margin-bottom: 16px;
}

.download a {
    font-weight: bold;
    color: #222;
    display: block;
    text-align: center;
    padding: 10px 0;
    border: 3px double #BBB;
    background: #FFC;
    background: rgba(255,255,128,.3);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,.15);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.15);
}
.download a:hover {
    background: #222;
    background: rgba(0,0,0,.7);
    color: #FFF;
    text-decoration: none;
    border-color: #FFF;
}

/**************************
**  Flag
**************************/

#flag {
    border: 3px double #CCC;
	margin-bottom: 2.0em;
    background: #FFE;
    padding: 10px;
}


#flag .flag_body {
    border-top: 1px dotted #CCC;
}

#flag .row {
	padding-top: 0.7em;
}

#flag .meta {
    width: 130px;
}

#flag  .content {
    margin-bottom: 1.0em;
    width: 460px
}

#flag textarea {
    width: 448px;
    margin-bottom: 0.7em;
}

/**************************
**  Comments
**************************/

.comment {
    border-top: 1px dotted #CCC;
    padding-top: 0.7em;
}

.comment .meta img {
    width: 40px;
    height: 40px;
    padding: 1px;
    border: 1px solid #CCC;
    display: block;
}

.comment_list {
	border-bottom: 3px double #CCC;
	margin-bottom: 2.0em;
}

/**************************
**  Comment Form
**************************/



#comment_form .row {
    border-top: 1px dotted #CCC;
    padding: 0.5em 0;
}

#comment_form input[type="text"] {
    width: 234px;
    margin-right: 15px
}

#comment_form .row span {
    color: #888;
}

#comment_form textarea {
    width: 468px;
    margin-bottom: 0.7em;
}

/**************************
**  Categories
**************************/

a.category {
    font-size: 13px;
}

#category_list a {
    display: block;
    padding: 0.4em 0 0.4em 2px;
    border-top: 1px dotted #CCC;
    width: 108px;
    margin-right: 10px;
    float: left;
}
#category_list a:hover {
    color: #222;
    background: #FFC;
    background: rgba(255,255,128,.3);
    text-decoration: none;
}


/**** Pagination ****/

.pagination {
    border-top: 3px double #CCC;
    border-bottom: 1px solid #CCC;
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.05em;
    margin-bottom: 1.0em;
}


.pagination li {
    display: block;
    float: left;
    border-right: 1px solid #CCC;
}
.pagination li:last-child { border: none; }

.pagination li.disabled,
.pagination li.current,
.pagination li a {
    padding: 4px 10px;
}


.pagination li a {
    display: block;
}
.pagination li a:hover {
    background: #FFC;
    background: rgba(255,255,128,.3);
    text-decoration: none;
}

.pagination li.disabled {
    color: #CCC;
}

.pagination li.current {
    background: #333;
    color: #FFF;
}


/**************************
**  Tag List
**************************/

#tag_list {
	margin-bottom: 2.0em;
}

#tag_list li {
    width: 200px;
    float: left;
    margin-right: 20px;

}

#tag_list li a {
    display: block;
    padding: 4px;
    border-top: 1px dotted #CCC;
    position: relative;
   
}
#tag_list li a:hover {
    background: #FFE;
    background: rgba(255,255,128,.4);
    text-decoration: none;
}

#tag_list li a em {
    display: block;
    position: absolute;
    height: 100%;
    background: #F8F4F1;
    background: rgba(150,100,50,.07);
    top: 0px;
    right: 0;
    z-index: 100;
    border-left: 0px solid #EEE;
    border-right: 1px solid #F5F5E5;
}
#tag_list li a:hover em {
    background: #EEB;
    background: rgba(150,100,50,.15);
}

a.tagSizeLargest em { width: 100% ; }
a.tagSizeMedium em { width: 92%; }
a.tagSize1 em { width: 8%; }
a.tagSize2 em { width: 15%; }
a.tagSize3 em { width: 22%; }
a.tagSize4 em { width: 29%; }
a.tagSize5 em { width: 36%; }
a.tagSize6 em { width: 43%; }
a.tagSize7 em { width: 50%; }
a.tagSize8 em { width: 57%; }
a.tagSize9 em { width: 64%; }
a.tagSize10 em { width: 71%; }
a.tagSize11 em { width: 78%; }
a.tagSize12 em { width: 85%; }

#tag_list li a span {
    position: relative;
    z-index: 200;
}

/**************************
**  Site footer
**************************/

#site_footer {
	clear: both;
	border-top: 3px double #CCC;
	margin-top: 30px;
}

