/* HTML5 elements */
section, nav, aside, article {
	display: block;
}


body {
	border-top: 15px solid #FC3;
    padding-top: 30px;
	padding-bottom: 30px;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-size: 13px;
    color: #222;
	background: url(../img/texture05.jpg) repeat-x;
    line-height: 1.4em;
}

a {
	color: #963;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/* Everything that needs to be serif */
h1, h2, h3, h4, h5, h6,
#site_name, #secondary_nav li, #primary_nav li,
date, #intro, a.category, .download {
    font-family: 'Hoefler Text', 'Garamond Premier Pro', 'Garamond', 'Bell MT', 'Palatino Linotype', 'Times New Roman', serif;
}

/**************************
**  Layout
**************************/

#wrap {
    width: 950px;
    padding: 0 10px;
    margin: 0 auto;
}

#primary_content {
    width: 660px;
    float: left;
}

#sidebar {
    width: 240px;
    float: right;
}

.article_meta {
    float: left;
    width: 150px;
    margin-right: 30px;
}

.article_content {
    width: 480px;
    float: left;
}

.clearfix:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


/***************  Masthead *************/

#site_header {
    margin-bottom: 40px;
}

#site_name {
    
    font-size: 22px;
    float: left;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: bold;
    margin-bottom: 0px;
}
#site_name a {
    color: #222;

}
#site_name a:hover {
    color: #963;
    text-decoration: none;
}

#secondary_nav {
    float: right;
}

#secondary_nav li {
    float: left;
    margin-left: 20px;
    font-size: 12px;
    font-style: italic;

}
#secondary_nav li a {
    padding: 0px 0 6px;
    display: block;
    color: #888;
}

#site_header .bottom_row {
    border-top: 3px double #CCC;
    border-bottom: 3px double #CCC;
    clear: both;
}

#primary_nav li {
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin-right: 20px;
    
}

#primary_nav li a {
    display: block;
    padding: 8px 8px;
    border-bottom: 3px double #888;
    color: #222;
    margin-bottom: -3px;
}
#primary_nav li a:hover {

}

.recent #primary_nav li.nav_recent a {
	background: rgba(0,0,0,.3);
}

#search_box {
    padding-top: 6px;
    float: right;
}

#search_box label {
    position: absolute;
    left: -9999em;
}

#search_box #search_input {
    font-size: 14px;
    font-family: inherit;
}

/***************  Main Content *************/

h1 {
	font-size: 48px;
	font-weight: bold;
	font-style: italic;
	line-height: 1.2em;
}

h3 {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
	letter-spacing: 0.05em;
    color: #222;
    margin-bottom: 0.3em;
}

h5 {

    text-transform: uppercase;
	letter-spacing: 0.05em;
    font-size: 10px;

}

article {
    margin-bottom: 20px;
}

.plugin.list {
    border-top: 1px dotted #CCC;
    padding-top: 0.5em;
}

.list h2 {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 0.3em;
}

date {
    color: #888;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.1em;
}

#intro {
    font-size: 21px;
    margin-bottom: 40px;
    line-height: 1.2em;
    text-align: center;
}
#intro h1 {
	font-size: 54px;
}


/***** Plugin Article *****/

.plugin.full .article_body {
    border-top: 1px dotted #CCC;
    padding-top: 8px;
}

.plugin.full .article_meta div {
    margin-bottom: 6px;
    padding-bottom: 6px;
    border-bottom: 1px dotted #CCC;
}

.plugin.full .article_meta p {
    font-size: 12px;
}

.plugin.full .article_meta .download {
    border: none;
    padding: 0;
    margin-bottom: 16px;
}

.download a {
    font-weight: bold;
    color: #222;
    display: block;
    text-align: center;
    padding: 10px 0;
    border: 3px double #BBB;
    background: #FFC;
    background: rgba(255,255,0,.1);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,.15);
}
.download a:hover {
    background: #FC3;
    color: #222;
    text-decoration: none;
    border-color: #222;
}


/**** Categories *****/

a.category {
    font-size: 13px;
}

#category_list a {
    display: block;
    padding: 0.4em 0 0.4em 2px;
    border-top: 1px dotted #CCC;
    width: 108px;
    margin-right: 10px;
    float: left;
}
#category_list a:hover {
    background: #FFC;
    text-decoration: none;
}

/***************  Pagefoot *************/

#site_footer {
	clear: both;
	border-top: 3px double #CCC;
	margin-top: 30px;
}