
:html_head

if $css do
    foreach $css do
        <link rel="stylesheet" href="@url" type="text/css" media="screen" />
    endforeach
endif

if $js do
    foreach $js do
        <script type="text/javascript" src="@url" charset="utf-8"></script>
    endforeach
endif


    <script type="text/javascript" src="@root_path/_base/js/modernizr-1.1.min.js" charset="utf-8"></script>

</head>
<body class="about tk_proxima_nova">
    
    :header
    
    <section id="about">
        <div class="wrap12">
            <div class="col6">
                <h1>About</h1>
                <p class="blurb">David DeSandro revels in the creative process. Building from the foundations of art, math, and logic, he produces elegant, inspiring interfaces. Exploring uncharted waters in the medium, he innovates to find new ways to design for the web.</p>
            </div>
        </div>
    </section>
    
    <section id="contact">
        <div class="wrap12">
            <div class="col6">
                <h1>Contact</h1>
                <script type="text/javascript">
                    var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");
                    document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));
                </script>
                <script type="text/javascript">
                    var z7x4a9 = new WufooForm();
                    z7x4a9.initialize({
                        'userName':'desandro', 
                        'formHash':'z7x4a9', 
                        'autoResize':true,
                        'height':'560'
                    });
                    z7x4a9.display();
                </script>
            </div>
            
            <div id="socialize" class="col6">
                <h2>Let&rsquo;s be friends</h2>
                <ul>
                    <li><a href="http://twitter.com/desandro">Twitter</a></li>
                    <li><a href="http://www.flickr.com/photos/nemoorange/">Flickr</a></li>
                    <li><a href="http://gowalla.com/users/desandro">Gowalla</a></li>
                    <li><a href="http://getsatisfaction.com/people/david_desandro">Get&nbsp;Satisfaction</a></li>
                    <li><a href="http://fontstruct.fontshop.com/fontstructors/nemoorange">Fontstruct</a></li>
                    <li><a href="http://readernaut.com/desandro/">Readernaut</a></li>
                    <li><a href="http://github.com/desandro">GitHub</a></li>
                    <li><a href="http://delicious.com/desandro">Delicious</a></li>
                    <li><a href="http://vimeo.com/desandro">Vimeo</a></li>
                    <li><a href="http://www.last.fm/user/nemoorange">Last.fm</a></li>
                    <!-- <li><a href="#">Dribbble</a></li> -->
                    <li><a href="http://www.linkedin.com/in/desandro">LinkedIn</a></li>
                    <li><a href="http://userstyles.org/users/16958">Userstyles</li>
                    <li><a href="http://stackoverflow.com/users/182183/desandro">StackOverflow</a></li>
                </ul>
            </div>
        </div>
    </section>
    
    :footer