
:portfolio_head

<ul id="port_nav">
    <li class="updown previous"><a href="#">
		<details>
			<dt>Previous image<span class="pointer"></span></dt>
		</details>
        <span class="pos"></span>
        <span class="neg inside"></span>
        <span class="neg outside"></span>
    </a></li>
    <li class="updown next"><a href="#">
		<details>
			<dt>Next image<span class="pointer"></span></dt>
		</details>
        <span class="pos"></span>
        <span class="neg inside"></span>
        <span class="neg outside"></span>
    </a></li>
    foreach $children do
        <li class="nav_article">
            <a href="#@slug">
                <span class="dot"></span>
				<details>
					<dt> @title <span class="pointer"></span></dt>
					<dd> @skills </dd>
				</details>
            </a>
        </li>
    endforeach
</ul>

foreach $children do
    :portfolio_content
endforeach

:footer
